$circle_size: 17px;
$padding    : 10px;
$circle_top_offset_adjustment : -2px;
$transition_type: ease;
$transition_time: 300ms;
$circle_shrinks_to_size: 7px;
$circle_shrinks_to_size_fancy: 7px;
$fill_circle_color: #8bb44a;
$void_circle_color: #fbfbfb;
$fancy_bg_border_radius: $circle_size;
$fancy_bg_border_fill_color: $fill_circle_color;
$fancy_bg_selcted_text_color: $void_circle_color;

.resize-container:after {
  content:"";
  display:table;
  clear:both;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}
@mixin transition($value){
  -webkit-transition: $value;
  -moz-transition:    $value;
  -o-transition:      $value;
  transition:         $value;
}
@mixin transformOrigin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
}

.ns-radio-button {
  @extend .resize-container;
  position: relative;
  padding: $padding/2;
  cursor : pointer;
  display: inline-block;
  clear: both;
  .ns-radio-selection,.ns-radio-label{
    float: left;
  }
  .ns-radio-selection{
    position: relative;
    height  : $circle_size;
    width   : $circle_size;

    .ns-radio-outer-circle, .ns-radio-inner-circle{
      position: absolute;
      top   : $circle_top_offset_adjustment;
      left  : 0px;
      height: $circle_size;
      width : $circle_size;
      border-radius : 50%;
      //box-sizing: border-box;
      border: 1px solid transparent;
      @include transformOrigin(50% 50%);
      @include transition(#{transform $transition_time $transition_type, background $transition_time $transition_type, border $transition_time $transition_type});
    }
    .ns-radio-outer-circle{
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: $void_circle_color;
    }
    .ns-radio-inner-circle{
      border: 1px solid $fill_circle_color;
      background-color: $fill_circle_color;
      @include transform(scale(0));
    }
  }
  .ns-radio-label{
    position    : relative;
    padding     : 0px $padding;
    line-height : $circle_size;
    @include transition(color $transition_time $transition_type);
  }
  .ns-radio-fancy-bg{
    position: absolute;
    top   : 0px;
    left  : 0px;
    height: 100%;
    width : 100%;
    background-color: $fancy_bg_border_fill_color;
    border-radius: $fancy_bg_border_radius;
    opacity: 0;
    @include transformOrigin(calc(0% + #{$circle_size/2}) 50%);
    @include transition(#{transform $transition_time $transition_type, opacity $transition_time $transition_type});
    @include transform(scale(0));
  }
}

@import 'ns-radio-button.transition';
